<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kngames.gametest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".regame.MainMenu" android:label="@string/app_name_long" >
			<intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
        <activity android:name=".GameLoopActivity" android:label="@string/title_activity_game_loop" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name=".redata.Info.MainInfoListActivity"></activity>
		
		<activity android:name=".redata.ScenInfo.ScenSelectorActivity"></activity>
		
		<activity android:name=".cards.structures.BaseSingleFragmentActivity"></activity>
		<activity android:name=".redata.REInfoFragmentActivity"></activity>
		<activity android:name=".redata.ScenEditor.ScenarioInfoEditorActivity"></activity>
		<activity android:name=".redata.ScenEditor.ScenarioEditorActivity"></activity>
		
		<activity android:name=".redata.Info.SelectorFrags.MansionExpandSelectorFragment"></activity>
		<activity android:name=".regame.GameSetupActivity"></activity>
		<activity android:name=".testcode.DataTestActivity"></activity>
    </application>

</manifest>